/A_ErrorAndException.class
/B_Package1.class
/C_Package2$1Human.class
/C_Package2.class
/Color1.class
/Color2.class
/CustomAnnotation.class
/D_Package3.class
/E_Package4.class
/ExtendsClass.class
/F_Generic.class
/G_Enum.class
/H_Annotation.class
/I_Lambda.class
/MyClass.class
/Over.class
/SubClass.class
/SuperClass.class
/Test1.class
/Test2.class
/Test3.class
/Test4.class
/Test5.class
/TriangleArea.class
